.bg-lagos{
    background-image: url(../img/banner-5.jpg);
    background-repeat: no-repeat;
    background-position:0% 50%;
    background-size: cover;
    width: auto;
    height:15rem;

    .titulo-colecciones{
        line-height: 15rem;
        font-family: 'Work Sans', sans-serif;
        font-size: 5rem;
        color: #d2d2d2;
        margin-top: 0;
        
    }
}